form {
  margin: auto;
}

.form-submit-container {
  text-align: center;
}

.ng-valid[required] {
  border-left: 5px solid #8CA93E; /* green */
}

.ng-invalid {
  border-left: 5px solid #7d1921; /* red */
}

@media screen and (max-width: 767px) {
  form {
    max-width: 480px;
  }
}