$ub-green: #8CA93E;
$ub-red: #7d1921;

form {
  margin: auto;
}

.input-error {
  color: $ub-red;
}

.form-submit-container {
  text-align: center;
}

.ng-valid[required] {
  border-left: 5px solid $ub-green; /* green */
}

.ng-invalid {
  border-left: 5px solid $ub-red; /* red */
}

@media screen and (max-width: 767px) {
  form {
    max-width: 480px;
  }
}