$google-plus-color: #db4437;
$facebook-color: #3b579d;
$youtube-color: #e62117;
$twitter-color: #2caae1;
$envelope-color: #2b542c;
$darken-pct: 25%;

#footer-container {
  text-align: center;
  height: 100px;
  margin-top: 20px;
}

.social-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 4px;
  font-size: 40px;
  transition: color .5s;
  color: #000;

  &.fa {

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.fa-google-plus-square {
      color: $google-plus-color;

      &:hover {
        color: darken($google-plus-color, $darken-pct);
      }
    }

    &.fa-facebook-square {
      color: $facebook-color;

      &:hover {
        color: darken($facebook-color, $darken-pct);
      }
    }

    &.fa-youtube-square {
      color: $youtube-color;

      &:hover {
        color: darken($youtube-color, $darken-pct);
      }
    }

    &.fa-twitter-square {
      color: $twitter-color;

      &:hover {
        color: darken($twitter-color, $darken-pct);
      }
    }

    &.fa-envelope-square {
      color: $envelope-color;
    }

  }

}