<form (ngSubmit)="submitForm(checkoutForm)" *ngIf="!isSubmitted" [formGroup]="checkoutForm">
    <div class="ub-form-full text-center">
        <h1>Shipping Information</h1>
    </div>
    <div class="ub-form-full">
        <label for="fullname">Full Name</label>
        <input id="fullname" class="form-control" maxlength="30"
               required [formControl]="checkoutForm.controls['fullname']">
    </div>
    <div class="ub-form-full">
        <label for="email">Email<span class="input-error" *ngIf="checkoutForm.controls['email'].hasError('pattern')"> | INVALID EMAIL</span></label>
        <input id="email" type="email" class="form-control" maxlength="50"
               required [formControl]="checkoutForm.controls['email']" >
    </div>
    <div class="ub-form-full">
        <label for="address">Address</label>
        <input id="address" class="form-control" maxlength="200"
               required [formControl]="checkoutForm.controls['address']" >
    </div>
    <div class="ub-form-full">
        <label for="addressTwo">Address 2</label>
        <input id="addressTwo" class="form-control" maxlength="200"
               [formControl]="checkoutForm.controls['addressTwo']" >
    </div>
    <div class="ub-form-half">
        <label for="city">City</label>
        <input id="city" class="form-control" maxlength="120"
               required [formControl]="checkoutForm.controls['city']" >
    </div>
    <div class="ub-form-half">
        <label for="state">State</label>
        <select id="state" class="form-control" required [formControl]="checkoutForm.controls['state']">
            <option *ngFor="let state of statesModel.states" value="{{state.abbreviation}}">{{state.name}}</option>
        </select>
    </div>
    <div class="ub-form-half">
        <label for="zip">Zip</label>
        <input id="zip" class="form-control" maxlength="12"
               required [formControl]="checkoutForm.controls['zip']" >
    </div>
    <div class="ub-form-full text-center">
        <div class="radio">
            Different billing address?
            <label><input type="radio" value="true" [formControl]="checkoutForm.controls['isBilling']" >Yes</label>
            <label><input type="radio" checked="checked" value="" [formControl]="checkoutForm.controls['isBilling']" >No</label>
        </div>
    </div>
    <div class="ub-form-full text-center">
        <h1>Billing Information</h1>
    </div>
    <div *ngIf="checkoutForm.value.isBilling">
        <div class="ub-form-full">
            <label for="fullname-billing">Fullname</label>
            <input id="fullname-billing" class="form-control" maxlength="30"
                   required [formControl]="checkoutForm.controls['fullnameBilling']" >
        </div>
        <div class="ub-form-full">
            <label for="address-billing">Address</label>
            <input id="address-billing" class="form-control" maxlength="200"
                   required [formControl]="checkoutForm.controls['addressBilling']" >
        </div>
        <div class="ub-form-full">
            <label for="addressTwo-billing">Address 2</label>
            <input id="addressTwo-billing" class="form-control" maxlength="200"
                   [formControl]="checkoutForm.controls['addressTwoBilling']" >
        </div>
        <div class="ub-form-half">
            <label for="city-billing">City</label>
            <input id="city-billing" class="form-control" maxlength="120"
                   required [formControl]="checkoutForm.controls['cityBilling']" >
        </div>
        <div class="ub-form-half">
            <label for="state-billing">State</label>
            <select id="state-billing" class="form-control" required [formControl]="checkoutForm.controls['stateBilling']">
                <option *ngFor="let state of statesModel.states" value="{{state.abbreviation}}">{{state.name}}</option>
            </select>
        </div>
        <div class="ub-form-half">
            <label for="zip-billing">Zip</label>
            <input id="zip-billing" class="form-control" maxlength="12"
                   required [formControl]="checkoutForm.controls['zipBilling']" >
        </div>
    </div>
    <div class="ub-form-full">
        <label for="creditcard">Credit Card
            <span class="input-error"
                  *ngIf="checkoutForm.controls['creditcard'].hasError('invalidCC')"> | INVALID NUMBER</span>
        </label>
        <input id="creditcard" type="number" class="form-control"
               required [formControl]="checkoutForm.controls['creditcard']" >
    </div>
    <div class="ub-form-third">
        <label for="expire">Expires (MMYY)</label>
        <input id="expire" type="number" class="form-control"
               required [formControl]="checkoutForm.controls['exp']" >
    </div>
    <div class="ub-form-third">
        <label for="csc">CSC</label>
        <input id="csc" type="number" class="form-control"
               required [formControl]="checkoutForm.controls['csc']" >
    </div>
    <div class="form-submit-container">
        <a class="btn ub-btn-red-inverted" (click)="cancelForm()">Cancel</a>
        <button type="submit" class="btn"
                [disabled]="!checkoutForm.valid"
                [ngClass]="{'ub-btn-green-inverted': checkoutForm.valid}">Checkout</button>
    </div>
</form>