<form (ngSubmit)="submitForm(checkoutForm)" *ngIf="!isSubmitted" [formGroup]="checkoutForm">
    <div class="ub-form-full text-center">
        <h1>Shipping Information</h1>
    </div>
    <div class="ub-form-full">
        <input id="fullname" class="form-control" maxlength="30"
               placeholder="Full Name" required [formControl]="checkoutForm.controls['fullname']">
    </div>
    <div class="ub-form-full">
        <input id="email" type="email" class="form-control" maxlength="50"
               placeholder="Email" required [formControl]="checkoutForm.controls['email']" >
    </div>
    <div class="ub-form-full">
        <input id="address" class="form-control" maxlength="200"
               placeholder="Address 1" required [formControl]="checkoutForm.controls['address']" >
    </div>
    <div class="ub-form-full">
        <input id="addressTwo" class="form-control" maxlength="200"
               placeholder="Address 2" [formControl]="checkoutForm.controls['addressTwo']" >
    </div>
    <div class="ub-form-half">
        <input id="city" class="form-control" maxlength="120"
               placeholder="City" required [formControl]="checkoutForm.controls['city']" >
    </div>
    <div class="ub-form-half">
        <input id="state" class="form-control" maxlength="2"
               placeholder="State/Province/Region" required [formControl]="checkoutForm.controls['state']" >
    </div>
    <div class="ub-form-half">
        <input id="zip" class="form-control" maxlength="10"
               placeholder="Zip" required [formControl]="checkoutForm.controls['zip']" >
    </div>
    <div class="ub-form-full text-center">
        <div class="radio">
            Different billing address?
            <label><input type="radio" value="true" [formControl]="checkoutForm.controls['isBilling']" >Yes</label>
            <label><input type="radio" checked="checked" value="" [formControl]="checkoutForm.controls['isBilling']" >No</label>
        </div>
    </div>
    <div class="ub-form-full text-center">
        <h1>Billing Information</h1>
    </div>
    <div *ngIf="checkoutForm.value.isBilling">
        <div class="ub-form-full">
            <input id="fullname-billing" class="form-control" maxlength="30"
                   placeholder="Full Name" required [formControl]="checkoutForm.controls['fullnameBilling']" >
        </div>
        <div class="ub-form-full">
            <input id="address-billing" class="form-control" maxlength="200"
                   placeholder="Address 1" required [formControl]="checkoutForm.controls['addressBilling']" >
        </div>
        <div class="ub-form-full">
            <input id="addressTwo-billing" class="form-control" maxlength="200"
                   placeholder="Address 2" [formControl]="checkoutForm.controls['addressTwoBilling']" >
        </div>
        <div class="ub-form-half">
            <input id="city-billing" class="form-control" maxlength="120"
                   placeholder="City" required [formControl]="checkoutForm.controls['cityBilling']" >
        </div>
        <div class="ub-form-half">
            <input id="state-billing" class="form-control" maxlength="2"
                   placeholder="State/Province/Region" required [formControl]="checkoutForm.controls['stateBilling']" >
        </div>
        <div class="ub-form-half">
            <input id="zip-billing" class="form-control" maxlength="10"
                   placeholder="Zip" required [formControl]="checkoutForm.controls['zipBilling']" >
        </div>
    </div>
    <div class="ub-form-full">
        <input id="creditcard" type="number" class="form-control"
               placeholder="Credit Card" (blur)="validateCreditCardInput(checkoutForm.value)" required
               [formControl]="checkoutForm.controls['creditcard']" >
    </div>
    <div class="ub-form-third">
        <input id="expire" type="number" class="form-control"
               placeholder="Expires (MMYY)" required [formControl]="checkoutForm.controls['exp']" >
    </div>
    <div class="ub-form-third">
        <input id="csc" type="number" class="form-control"
               placeholder="CSC" required [formControl]="checkoutForm.controls['csc']" >
    </div>
    <div class="form-submit-container">
        <a class="btn ub-btn-red-inverted" (click)="cancelForm()">Cancel</a>
        <button type="submit" class="btn ub-btn-green-inverted"
                [disabled]="!checkoutForm.valid"
                [ngClass]="{'ub-btn-green-inverted': checkoutForm.valid}">Checkout</button>
    </div>
</form>