/**
 * Sticky footer per https://css-tricks.com/snippets/css/sticky-footer/
 */
:host {
  display: block;
  min-height: 100%;
  margin-bottom: -120px;

  &:after {
    content: ".";
    display: block;
    height: 120px;
  }
}


.cart {

  &-name {
    min-width: 80px;
  }

  &-quantity {
    min-width: 120px;
  }

  &-subtotal {
    min-width: 80px;
  }

}

/**
 * Last row in the cart
 */
.total-row {
  > td {
    border-top: solid 2px #000;
  }

  >td:last-child {
    border-top: solid 2px #000;
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}