/**
 * Sticky footer per https://css-tricks.com/snippets/css/sticky-footer/
 */
:host {
  display: block;
  min-height: 100%;
  margin-bottom: -120px;

  &:after {
    content: ".";
    display: block;
    height: 120px;
  }
}

#bg-about {
  background: url('/public/img/stock_photos/bg-about.jpg') no-repeat center;
}