<div id="bg-about" class="bg-main">
    <div class="bg-main-inflate">
        <div class="main-content">
            <h1 class="main-content-title">Our Story</h1>
            <p class="main-content-text">
                The Erie Canal River has spawned many leading wine industries and
                it was here that U&B chose to settle in the late 1900’s. U&B family
                business has evolved into a third generation, award-winning wine
                entity with a strong commitment to environmental awareness and
                sustainability while producing premium world class wines.
            </p>
        </div>
    </div>
</div>