#bg-about {
    background: url('/public/img/stock_photos/bg-about.jpg') no-repeat center;
}

.story-tile {
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 991px) {
    .hideSmall {
        display: none;
    }
}