<div id="bg-wines" class="bg-main">
    <div class="bg-main-inflate">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <h1 class="main-content-title">Our Wines</h1>
                        <p class="main-content-text">
                            Our tasting room is located in the historic Erie Watermill
                            Building on the southside of E Broadway. Open daily right
                            here on the web.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" *ngIf="wineModel.wines.length > 0">
        <div class="col-xs-12">
            <h1 class="content-title">Peruse Our Selection</h1>
            <h3 class="content-title"><em>Wines for every occasion</em></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <div class="form-group ub-form-group">
                    <label for="quality-filter">Filter by Quality:</label>
                    <select class="form-control ub-form-control" id="quality-filter"
                            (change)="filterAndSort(ratingSelect.value, priceSortSelect.value)" #ratingSelect>
                        <option value="all">All</option>
                        <option value="good">Good</option>
                        <option value="better">Better</option>
                        <option value="best">Best</option>
                    </select>
                </div>
                <div class="form-group ub-form-group">
                    <label for="price-filter">Sort by Price:</label>
                    <select id="price-filter" class="form-control ub-form-control"
                            (change)="filterAndSort(ratingSelect.value, priceSortSelect.value)" #priceSortSelect>
                        <option value="default">Default</option>
                        <option value="lowest">Lowest To Highest</option>
                        <option value="highest">Highest to Lowest</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let product of wineModel.wines; let i = index">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <wine-detailed [wine]="product"></wine-detailed>
            </div>
            <div *ngIf="(i+1) % 4 == 0" class="clearfix visible-lg-block"></div>
            <div *ngIf="(i+1) % 3 == 0" class="clearfix visible-md-block"></div>
            <div *ngIf="(i+1) % 2 == 0" class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>