<div id="bg-contact" class="bg-main">
    <div class="bg-main-inflate">
        <div class="main-content">
            <h1 class="main-content-title">Come Visit Us</h1>
            <p class="main-content-text">Highway 79 Erie Canal<br/>Green Mountains, Washington</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="google-map"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <contact-form></contact-form>
    </div>
</div>