<form (ngSubmit)="submitForm()" *ngIf="!isSubmitted" #contactForm="ngForm">
    <h1 class="content-title">Write Us</h1>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name" required [(ngModel)]="name" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" name="email" required [(ngModel)]="email" />
    </div>
    <div class="form-group">
        <label for="msg">Message</label>
        <textarea id="msg" class="form-control" name="msg" rows="4" required [(ngModel)]="msg"></textarea>
    </div>
    <div class="form-submit-container">
        <button type="submit" class="btn ub-btn-red" [disabled]="!contactForm.form.valid" [ngClass]="{'ub-btn-green': contactForm.form.valid}">Submit</button>
    </div>
</form>
<h3 class="content-title" *ngIf="isSubmitted">Thank you!</h3>
