$default-link-hover-color: #8CA93E;
$default-link-border: solid 2px transparent;
$default-link-active-color: $default-link-hover-color;
$default-link-active-border: solid 2px $default-link-active-color;

$default-link-transition: border-bottom .5s;
$default-link-active-transition: border-bottom .5s linear .5s, color .5s linear .5s !important;
$hover-transition: color .5s;


.navbar-default {
  box-shadow: 0px 0px 4px 0px #000;
  padding: 10px 0;

  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
  }

  .navbar-nav {

    > li {

      > a {
        padding-bottom: 0px;
        transition: $default-link-transition;
        border-bottom: $default-link-border;

        &.active {
          transition: $default-link-active-transition;
          color: $default-link-active-color;
          border-bottom: $default-link-active-border;

          &:hover {
            cursor: default;
          }
        }

        &:hover {
          transition: $hover-transition;
        }

      }

    }

  }

}

.navbar-collapse {
  max-height: 300px;
  overflow-y: hidden;
  transition: max-height .5s linear;
}

@media screen and (max-width: 767px) {
  .ub-collapse {
    max-height: 0;
  }

  .ub-toggled {
    box-shadow: inset 1px 1px 1px 1px rgba(140, 169, 62, 0.4);
  }

  .ub-toggled,
  .navbar-toggle {
    transition: box-shadow .5s;
  }

  .navbar-nav {

    > li {
      text-align: center;
    }
  }
}
