.product {

  &-link {
    display: inline-block;

    &:hover {
      cursor: pointer;

      > img {
        box-shadow: 1px 1px 5px 5px #aaa;
      }
    }
  }

  &-img {
    max-width: 100%;
  }

  &-title {
    text-align: center;
  }
}