.detailed {

  &-container {
    margin: 10px auto;
    text-align: center;
  }

  &-title {
    text-align: center;
  }

  &-img {
    height: 150px;
    max-width: 100%;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
  }

}

/**
 * Thank you, https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
