<div class="product-tile">
    <a class="product-link" (click)="setProductSelected(true)">
        <img class="product-img" [src]="'public/img/' + product.productPhotos[0]" />
    </a>
    <h4 class="product-title">{{product.name}}</h4>
</div>
<modal [show]="isProductSelected" (click)="setProductSelected(false)">
    <div class="container ub-modal-container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ub-modal-bg">
                <div class="ub-modal-details">
                    <h2 class="ub-modal-title">{{product.name}}</h2>
                    <h4 class="ub-modal-title">By <em>{{product.winemaker}}</em></h4>
                    <p>{{product.tastingNotes}}</p>
                    <p> This wine is best paired with <em>{{product.foodPairings | arrayToString | lowercase}}</em>.</p>
                </div>
            </div>
        </div>
    </div>
</modal>
