.detailed {

  &-container {
    margin: 10px auto;
    text-align: center;
  }

  &-title {
    text-align: center;
  }

  &-img {
    height: 150px;
    max-width: 100%;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
  }

}

.ub-modal {
  &-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
  }
  &-bg {
    background: rgba(255, 255, 240, 0.9);
    box-shadow: 0 0 10px 1px #000;
  }

  &-tile {
    padding: 5px;
    text-align: center;

    > img {
      max-width: 280px;
    }
  }

  &-details {
    padding: 5px 0;
  }

  &-title {
    text-align: center;
  }
}

.modal-control-container {
  text-align: center;
  margin: 10px auto;
}

/**
 * Thank you, https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
