// Import Bootstrap Compass integration
@import "stylesheets/bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "stylesheets/bootstrap";

html,
body {
  height: 100%;
}

body {
  background: #fffff0;
  padding-top: 70px;
  font-family: 'Raleway', sans-serif;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  top: calc(50% - 70px);
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bg-main {
  background-size: cover !important;
}

.bg-main-inflate {
  background: rgba(0, 0, 0, .3);
  position: relative;
  width: 100%;
  height: 450px;
  border-bottom: solid 2px #8CA93E;

  > .main-title {
    margin-top:0px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffff0;
    font-size: 4em;
    width: 100%;
  }
}

/**
 * Content displayed over the main bg image for each page
 */
.main-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #fffff0;

  &-title {

  }

  &-text {
    font-size: 20px;
  }
}

/**
 * On page content
 */
.content {

  &-title {
    text-align: center;
    margin: 30px auto;
  }

  &-text {
    line-height: 2.2em;
  }
}

/**
 *
 */
.info-tile {
  height: 100%;
  background: rgba(0, 0, 0, .25);

  > p {
    color: #fffff0;
    font-size: 1.25em;
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
  }

  > .btn {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

}

.btn {
  font-size: 1.1em;
  border-width: 2px;

  &:hover {
    border-color: initial;
  }
}

@media screen and (min-width: 768px) {
  // this was acting weird on a large viewport and
  // displaying horizontal scrollbar
  .navbar-right {
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  body {
  }
}