// Import Bootstrap Compass integration
@import "stylesheets/bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "stylesheets/bootstrap";

html,
body {
  height: 100%;
}

body {
  background: $ub-ivory;
  padding-top: 70px;
  font-family: 'Raleway', sans-serif;
}

h1, .h1 {
  font-size: 2.6em;
}

h2, .h2 {

}

h3, .h3 {
  font-size: 1.5em;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  top: calc(50% - 70px);
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/**
 * Main background image for each page
 */
.bg-main {
  background-size: cover !important;
}

.bg-main-inflate {
  background: rgba(0, 0, 0, .3);
  position: relative;
  width: 100%;
  height: 450px;
  border-bottom: solid 2px $ub-green;

  > .main-title {
    margin-top: 0px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $ub-ivory;
    font-size: 4em;
    width: 100%;
  }
}

/**
 * Content displayed over the main bg image for each page
 */
.main-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 5px;
  text-align: center;
  color: $ub-ivory;

  &-title {

  }

  &-text {
    font-size: 1.25em;
  }
}

/**
 * On page content
 */
.content {

  &-title {
    text-align: center;
    margin: 30px auto;
  }

  &-text {
    line-height: 2.2em;
  }
}

/**
 *
 */
.info-tile {
  height: 100%;
  background: rgba(0, 0, 0, .25);

  > p {
    color: $ub-ivory;
    font-size: 1.25em;
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
  }

  > .btn {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

}

/**
 * Modal
 */
.ub-modal {
  &-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
  }
  &-bg {
    background: rgba(255, 255, 240, 0.9);
    box-shadow: 0 0 10px 1px #000;
  }

  &-details {
    padding: 5px 0;
  }

  &-title {
    text-align: center;
  }
}

.modal-control-container {
  text-align: center;
  margin: 10px auto;
  display: inline-block;
  width: 100%;
}

/**
 * Anchor
 */
.ub-anchor {
  color: #7d1921;

  &:hover {
    color: initial;
    text-decoration: underline;
  }
}

/**
 * Custom buttons!
 */
.btn {
  font-size: 1.1em;
  border: solid 2px $ub-ivory;
  color: $ub-ivory;

  &:hover,
  &:focus {
    outline: none;
    border-color: initial;
  }

  &-small {
    font-size: .8em;
  }

  &.ub-btn-red {
    background-color: $ub-red;

    &:hover {
      background-color: rgba(125, 25, 33, .8);
    }

    &-inverted {
      color: $ub-red;
      border: solid 2px $ub-red;
      background-color: $ub-ivory;

      &:hover {
        background-color: $ub-ivory;
      }
    }
  }

  &.ub-btn-green {
    background-color: $ub-green;

    &:hover {
      background-color: rgba(140, 169, 62, 0.8);
    }

    &-inverted {
      color: $ub-green;
      border: solid 2px $ub-green;
      background-color: $ub-ivory;

      &:hover {
        background-color: $ub-ivory;
      }
    }
  }

  /**
   * Buttons associated together hence the
   * 'left' 'right'
   */
  &-left {
    background-color: #7d1921;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &:hover {
      cursor: pointer;
      color: #fffff0;
      background-color: rgba(125, 25, 33, .8);
    }
  }

  &-right {
    background-color: #8CA93E;
    margin-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
      cursor: pointer;
      color: #fffff0;
      background-color: rgba(140, 169, 62, 0.8);
    }
  }
}

/**
 * Barebones input
 */
.input {
  &-num {
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 0;
    border: none;
    margin: auto -4px;
    background-color: #fffff0;

    &:focus {
      outline: solid 1px #000;
    }

  }

  &-btn {
    color: #fffff0;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
  }
}

.fa-plus,
.fa-minus {
  line-height: 35px;
}

/**
 * Shopping cart style, but table style overall
 */
.ub {

  &-table {
    width: 100%;
    margin: 20px auto;

    th {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &-left {
    text-align: left;
  }

  &-middle {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

/**
 * Thanks, John - http://stackoverflow.com/questions/1264187/css-how-do-i-create-a-gap-between-rows-in-a-table
 */
table {
  border-collapse: separate;
  border-spacing: 0 1px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  // this was acting weird on a large viewport and
  // displaying horizontal scrollbar
  .navbar-right {
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }
}