#bg-home {
  background: url('http://placehold.it/1650x787') no-repeat center;
}

#bg-visit {
  background: url('http://placehold.it/800x680') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px;
}

#bg-order {
  background: url('http://placehold.it/800x680') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px;
}

.featured-img {
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

